@use "../functions" as *;

.coming-soon {
  --container: 1024px;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "logo image" "header image";
  grid-template-rows: min-content auto;
  background: url("../images/bg-pattern-desktop.svg") no-repeat left top / 60%
    100%;

  @media screen and (max-width: 768px) {
    display: block;
    background: url("../images/bg-pattern-desktop.svg") no-repeat left top /
      cover;
  }

  &__graphic {
    grid-area: image;

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }

  &__homelink {
    padding-left: max(2rem, 50vw - var(--container) / 2);
    grid-area: logo;
    padding-top: fluid-rem(2rem, 4rem, 768 1024);

    @media screen and (max-width: 768px) {
      padding-block: 2rem;
    }
  }

  &__header {
    grid-area: header;
    display: grid;
    align-content: center;
    padding-left: max(2rem, 50vw - var(--container) / 2);
    padding-block: 4rem;
    width: min(28rem, 100% - 4rem);

    @media screen and (max-width: 768px) {
      display: block;
      text-align: center;
      padding-inline: unset;
      margin-inline: auto;
    }
  }

  &__title {
    color: v("off-black");
    letter-spacing: 0.27em;
    text-transform: uppercase;
    font-size: fluid-rem(2.5rem, 4rem);

    span {
      display: block;
      color: v("accent-500");
      font-weight: 300;
    }
  }

  &__greeting {
    margin-block: fluid-rem(2rem, 2.5rem) fluid-rem(2.5rem, 3rem);
  }
}
